/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #dad5bf;
    background: #2b2928 url(images/templatemo_main_bg.jpg) repeat-x top;
}
		
a:link, a:visited { color: #d8d63b; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #99FF00; text-decoration: underline; font-weight: normal; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r_10 { margin-right: 10px; }

.continue_button a {
	float: right;
	clear: both;
	display: block;
	width: 80px;
	height: 19px;
	padding: 1px 20px 0 0;
	margin-top: 10px;
	color: #a39e89;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_more_button.jpg) no-repeat;
}

.continue_button a:hover {
	color: #f8ed48;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 10px 0;
	padding: 2px 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
}

h3 {
	margin: 0 0 0 0;
	padding: 2px 0;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

h4 {
	margin: 0 0 0px 0;
	padding: 4px 0;
	font-size: 18px;
	font-weight: normal;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}

#templatemo_wrapper {
	width: 100%;
	background: url(images/templatemo_main_bg_bottom_wrapper.jpg) no-repeat bottom center;
}


/* site title */

#templatemo_site_title_bar_wrapper {
	width: 100%;
	height: 85px;
	margin: 0 auto;	
	background: url(images/template_site_title_wrapper.jpg) center top no-repeat;
}

#templatemo_site_title_bar {
	width: 980px;
	height: 85px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(images/template_site_title_wrapper.jpg) center top no-repeat;
}

#site_title {
	float: left;
	margin: 0px;
	padding: 30px 0 0 0;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #d8d63b;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	font-size: 13px;
	color: #989231;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

#templatemo_site_title_bar #search_box {
	float: right;
	width: 200px;
	height: 30px;
	margin: 0 10px 0 0;
	padding: 10px 0 0 0;
}

#search_box form {
	float: left;
	width: 200px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 20px;
	width: 150px;
	padding: 6px 5px 4px 7px;
	margin: 0px;
	color: #ffffff;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#searchbutton {
 	height: 30px;
	width: 35px;
	margin: 0px;
	padding: 6px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: none; 
	border: none;
}

/* end of site title */

/* content */

#templatemo_content_wrapper_outter {
	width: 100%;
	margin: 0 auto;	
	background: url(images/templatemo_main_bg_top_wrapper.jpg) center top no-repeat;
}

#templatemo_content_wrapper_inner {
	width: 1000px;
	margin: 0 auto;
	background: url(images/templatemo_main_bg_top_wrapper.jpg) center top no-repeat;
}

#templatemo_content_top {
	clear: both;
	width: 1000px;
	height: 14px;
	background: url(images/templatemo_content_top.png) bottom center no-repeat;
}

#templatemo_content {
	clear: both;
	width: 970px;
	padding: 0 15px;
	background: url(images/templatemo_content_middle.png) repeat-y center;
}

#templatemo_content_bottom {
	clear: both;
	width: 1000px;
	height: 14px;
	background: url(images/templatemo_content_bottom.png) top center no-repeat;
}

#main_content {
	padding: 10px;
}

#main_column {
	float: left;
	width: 660px;
}

#side_column {
	float: right;
	width: 280px;
}

#slide_section {
	width: 640px;
	border: 10px solid #676456;
	margin-bottom: 10px;
	
}

.section_w660 {
	clear: both;
	width: 640px;
	padding: 10px;
	background: #a39e89;
	margin-bottom: 10px;
}

.section_w315 {
	float: left;
	width: 315px;
	background: #666355;
}

.section_w315 h2 {
	height: 35px;
	padding: 10px 10px 0 10px;
	margin: 0px;
	color: #cac254;
	background: url(images/templatemo_post_title_bg.jpg) top repeat-x;
}

.section_w315 .section_w315_content {
	padding: 10px;
}

.section_w315_content img {
	margin-bottom: 10px;
}

#side_column .side_column_ads_section {
	clear: both;
	padding: 10px 10px 0 10px;
	background: #676456;
}

.ads_125_125 {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 0 10px 0;
}


.right_padding_10 {
	margin-right: 10px;
}

#side_column .side_column_section {
	clear: both;
	width: 260px;
	padding: 10px;
	background: #a39e89;
	margin-bottom: 10px;
}

#side_column .side_column_section .side_column_section_content {
	padding: 10px;
	background: #676456;
}

.side_column_section h3 {
	font-weight: bold;
	border-bottom: 0px;
	margin-bottom: 0px;
	color: #2f2c21;
}

.side_column_section .side_column_menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.side_column_section .side_column_menu li {
	margin-bottom: 5px;
}

.side_column_section .side_column_menu li a {
	color: #ffffff;
}

.side_column_section .side_column_menu li a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #c6bf56;
}


.recent_post {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.recent_post h4 a {
	font-size: 12px;
	color: #d8d63b;
	font-weight: bold;
}

.recent_post h4 a:hover {
	text-decoration: none;
}

/* end of content */

/* footer */

#templatemo_footer {
	width: 980px;
	margin: 0 auto;
	padding: 20px 10px;
	color: #cccccc;
}

#templatemo_footer  a {
	color: #ffffff;
}

#templatemo_footer .section_w245 {
	float: left;
	width: 220px;
	padding-right: 25px;
}

#templatemo_footer .section_w245 h3 {
	margin-bottom: 5px;
	font-size:14px;
	font-weight: bold;
	color: #d8d63b;
	border-bottom: 0px;
	
}

#templatemo_footer .footer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#templatemo_footer .footer_list li {
	margin: 0px;
	padding: 3px 0;
}

#templatemo_footer .footer_list li a {
	color: #cccccc;
}

#templatemo_footer .footer_list li a:hover {
	color: #d8d63b;
	font-weight: normal;
	text-decoration: none;
}
/* end of footer */