/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#ebebeb;
}
.wrap {
	width:95%;
	margin: 0 auto;
}
.header {
	background:#23272a;
	padding:5px 0;
}
.header_top {
	padding-bottom:5px;
}
.logo {
	text-align:center;
}
.header_top_right{
	float:right;
	margin-top:8px;
	margin-right:10px;
}
/* search */
.search_box span{
   color:#FFF;
   font-size:12px;
   float:left;
   margin-top:10px;
}
.search_box form{
	 background:#151719;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.8em;
	color: #acacac;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:85%;
	padding:8px;
	-webkit-apperance:none;
	margin:0;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat center;
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	outline:none;
	padding:0;
}
.header_bottom{
	padding:10px 0;
}
.slider-text{
	text-align:center;
}
.slider-text h2{
	color:#e44f2b;
	font-size:18px;
}
.slider-text p{
	color:#8fa7ae;
	font-size:13px;
	margin:10px 0;
	line-height:1.6em;
}
.slider-text a{
	background:#8fa7ae;
	display:inline-block;
	padding:8px 25px;
	font-size:14px;
	color:#23272a;	
}
.slider-text a:hover{
	color:#FFF;
	background:#6C9BA9;
}
.slider-img{
	text-align:center;
}
/** Content **/
.content_top{
  padding:10px 0;
  background:#FFF;
}
.content_top h3{
	font-size:18px;
	color:#e44f2b;
	padding-bottom:10px;
}
.line{
  display:block;
  background:#EEE;
  height:1px;
}
.ocarousel_window {
	width: 100%;
}
.ocarousel {
    padding-top:10px;
}
.ocarousel_window {
        width:100%;
        margin-top:5px;
}
.ocarousel_window a{
	border-left:1px solid #F2F2F2;
	padding:0 5px;
	display:inline-block;
}
.ocarousel_window a p{
  display:block;
  font-size:14px;
  color:#a5a5a5;
  float:none;
  text-align:center;	
}
.ocarousel_window a:hover p{
 color:#e44f2b;
 text-decoration:underline;
}
.content_bottom{
	padding-top:10px;
}
.content-bottom-right{
	margin-top:15px;
}
/** categories **/
.categories h3,.buters-guide h3,.content-bottom-right h3,.preview-page h3{
	font-size:16px;
	color:#FFF;
	padding:8px;
	background:#e44f2b;
}
.content-bottom-right h3,.preview-page h3{
	background:#23272a !important;
	margin-bottom:5px !important;
}
.categories li a{
	display:block;
	font-size:14px;
	padding:8px 12px;
    color: #9C9C9C;
    background:url(../images/drop_arrow.png) no-repeat 0;
    border-bottom:1px solid #D6D6D6;
}
.categories li:last-child a{
	border:none;
}
.categories li a:hover{
	color:#e44f2b;
}	
.buters-guide{
	margin-top:10px;
}
.buters-guide p{
	font-size:14px;
	color:#969696;
	line-height:1.5em;
	padding:4px 0;
}
.buters-guide p span{
	color:#e44f2b;
	font-size:16px;
}
.add-banner{
	background:#1b1e20;
	padding:1% 5%;
	margin-top:5px;
}
.add-banner img{
	float:left;
}
.banner-desc{
	float:right;
	text-align:right;
}
.banner-desc h4{
	display:block;
	font-size:25px;
	color:#e44f2b;
	margin-bottom:10px;
}
.banner-desc a{
	background:#e44f2b !important;
	padding:5px 15px !important;
	display:inline-block !important;
}
.banner-desc a:hover{
	background:#D03D1A !important;
}
.add-banner2{
	background:url("../images/banner-bg.png") repeat-x;
}
.add-banner2 h4{
	color:#23272a;
}
.add-banner2 a{
	background:#23272a !important;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_2 {
	display: block;
	float: left;
	margin: 1% 0 1% 0%;
}
.grid_1_of_2:first-child {
	margin-left: 0;
}
.images_1_of_2 {
	width:96%;
	padding:2%; 
	text-align: center;
	position: relative;
	background:#FFF;
}
.images_1_of_2  a{
	display:block;
}
.images_1_of_2  img {
	max-width: 100%;
}
.images_1_of_2  h4  a{
	color:#e44f2b;
	font-size:15px;
	padding-bottom:5px;
}
.images_1_of_2 p {
	font-size:20px;
	padding: 3px 0;
	color: #333;
}
.images_1_of_2  p span.price {
	font-size: 18px;
	color:#CC3636;
}
.price-details{
	border-top:1px solid #eee;
}
.price-details p span.rupees{
	font-size:22px;
	color:#23272a;
}
.add-cart{
	display: inline-block;
}
.add-cart h4 a,.banner-desc a{
	font-size:0.85em;
	display: block;
	padding:6px 20px;
	background:#8fa7ae;
	color: #FFF;
	text-decoration: none;
	outline: 0;
}
.add-cart h4 a:hover{
	  background:#292929;
}
.product-articles{
	padding:20px 0;
}
.product-articles p{
	font-size:15px;
	color:#a1a1a1;
	line-height:1.6em;
	padding:5px 0;
}
.product-articles p span{
	color:#23272a;
	font-size:18px;
}
.product-articles p a{
	color:#e44f2b;
	font-size;14px;
}
.product-articles p a:hover{
	text-decoration:underline;
	color:#23272a;
}
.product-articles li{
	padding:5px 0;
	border-top:1px solid #dfdfdf;
}
.product-articles li:first-child {
	border-top:none !important;
	padding-top:0;
}
/*** Footer ***/
.footer {
	background:#e44f2b;
	padding:10px 0;
}
.footer-nav{
 text-align:center;
 margin-bottom:10px;
}
.footer-nav li{
  display:inline-block;
  color:#FFF;
  font-size:11px; 
  margin-left:2px;
}
.footer-nav li a{
	color:#FFF;
}
.footer-nav li a:hover{
	text-decoration:underline;
}
.copy_right {
	text-align:center;
}
.copy_right p {
	font-size:12px;
	color:#FFF;
	line-height:1.6em;
}
.copy_right p a {
	color:#FFF;
	text-decoration: underline;
}
.copy_right p a:hover {
	color:#222;
	text-decoration: none;
}
/*  Preview  ============================================================================= */
.back-links {
	background:#23272a !important;
	padding:6px;
	margin-bottom:10px;
}
.back-links li {
	display:inline-block;
	color: #ccc;
	font-size:10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.back-links li:first-child a {
	padding-left:0;
}
.back-links li a {
	color: #FFF;
}
.back-links  a:hover {
	text-decoration:underline;
	color:#e44f2b;
}
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding: 1.5%;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.cont-desc {
	display: block;
	float: left;
	clear: both;
}
.rightsidebar {
	display: block;
	margin: 0%;
	float:left;
}
.cont-desc:first-child {
	margin-left: 0;
}
.desc {
	display: block;
	float: left;
	margin: 0%;
}
.span_1_of_2 {
	width:100%;
	padding: 1.5% 0;
}
.images_3_of_2 {
	width:100%;
	text-align: center;
	background:#FFF;
	border: 1px solid #DFDFDF;
}
.span_3_of_2 {
	width:100%;
	margin-top:10px;
}
.span_3_of_1 {
	width:100%;
	padding: 1.5% 0;
}
.images_3_of_2  img {
	max-width: 100%;
}
.span_3_of_2  h2 {
	font-size:15px;
	color:#e44f2b;
	font-weight: normal;
	margin-top: 0px;
}
.span_3_of_2  p{
	font-size:13px;
	padding:5px 0;
	color:#8B8B8B;
	line-height: 1.6em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.price p {
	font-size: 0.85em;
	padding-top:10px;
	color: #666;
	vertical-align: top;
}
.price p span {
	font-size:18px;
	color:#e44f2b;
}
.available {
	border-top: 1px solid #EBEBEB;
}
.available li span{
	font-size:13px;
	color:#8B8B8B;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.available li {
	display:block;
	color:#000;
	font-size:18px;
	padding:2px 0;
}
.share-desc{
	margin-bottom:15px;
}
.share{
	float:left;
}
.share p {
	padding-top: 10px;
	font-size:13px;
	color: #333;
	display:inline;
}
.text_box{
	display:inline;
	width:60px;
	padding:3px 5px;
	outline:none;
	margin-left:5px;
	font-size:20px;
	color:#444;
}
.wish-list{
	padding:15px 0;
	border-bottom:1px solid #D6D6D6;
	border-top:1px solid #D6D6D6;
}
.wish-list li{
	display:inline-block;
	margin-right:5px;
}
.wish-list li a{
	color: #383838;
	font-size:12px;
	padding-left:20px;
	text-decoration: underline;
}
.wish-list li a:hover {
	color:#e44f2b;
	text-decoration:none;
}
.wish-list li.wish{
	background:url(../images/wishlist.png) no-repeat 0;
}
.wish-list li.compare{
	background:url(../images/compare.png) no-repeat 0;
	margin-right:0;
}
/* Checkbox Buttons */
 .checkbox-buttons ul{
 	margin:0;
 }
  .checkbox-buttons li:first-child {
  	margin-left:0;
  }
 .checkbox-buttons li {
	margin: 0 auto;
	position: relative;
	display:inline-block;
	list-style-type:none;
	margin-left:3px;	
}
.checkbox-buttons label {
	display: inline-block;
	position: relative;
	width:30px;
	height:30px;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	border:2px solid rgba(255, 255, 255, 0);
}
.checkbox-buttons label.grey {
	background:grey;
}
.checkbox-buttons label.blue {
	background:#354973;
}
.checkbox-buttons label.white {
	background:#FFF;
}
.checkbox-buttons label.black {
	background:#000;
}
.checkbox-buttons label:hover{
	border:2px solid #e44f2b;
}
.checkbox-buttons input[type="checkbox"],
.checkbox-buttons input[type="radio"] {
	display:none;
}
.checkbox-buttons input[type="checkbox"]:checked + label,
.checkbox-buttons input[type="radio"]:checked + label {
	border:2px solid #e44f2b;
} 
.colors-share{
	margin-top:15px;
}
.colors-share h4{
	font-size:14px;
	padding-bottom:5px;
}
.social-share{
	margin-top:10px;
}
.social-share li:first-child{
	margin-left:0;
}
.social-share li{
	display:inline-block;
	margin-left:5px;
}
.social-share li a {
	width:27px;
	height:27px;
	display:block;
	background:url("../images/social-share.png") no-repeat;
}
.social-share li a.share-face {
	background-position: 0px 0px; 
}
.social-share li a.share-twitter {
	background-position: -37px 0px;
}
.social-share li a.share-google {
	background-position: -37px -37px;
}
.social-share li a.share-rss {
	background-position: 0px -37px;
}
.social-share li a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.product_desc h2{
	font-size:1.2em;
	color: #333;
}
.product_desc p{
	font-size: 0.8em;
	padding:5px 0;
	color: #8B8B8B;
	line-height: 1.8em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.span_3_of_2 .button {
	float: right;
}
.span_3_of_2 .button a {
	font-size:0.85em;
	display: block;
	padding:8px 10px;
	background:#e44f2b;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.span_3_of_2 .button a:hover {
	 text-shadow: 0px 0px 1px #000;
	  background:#292929;
}
.popular-products li:first-child{
	margin-top:0;
}
.popular-products li{
  background:#FFF;
  text-align:center;
  padding:4%;
  margin-top:10px;
}
.popular-products li > h4 > a{
	color: #e44f2b;
	font-size: 14px;
	padding-bottom: 5px;
}
.popular-products li .price-number{
	margin:5px 0;
}
.popular-products li .price-number p span.line-through{
	text-decoration:line-through;
	color:#e44f2b;
}
.preview-page{
	padding:2% 0;
}
.product-specifications li span.specification-heading{
	color:#999999;
	font-size:13px;
	border-left:none;
}
.product-specifications li{
	border:1px solid #eee;
		border-top:none;
}
.product-specifications li span{
	display:block;
	padding:5px;
	color:#23272a;
	font-size:14px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.product-specifications li:first-child span{
	border-top:1px solid #eee;
}
.product-tags h4 {
	padding: 10px 0;
	font-size: 0.95em;
	color: #333;
}
.input-box {
	background: url(../images/tag.png) no-repeat 0 8px;
	padding-left: 30px;
}
.input-box input[type="text"] {
	padding: 8px;
	display: block;
	width: 90%;
	background: #fcfcfc;
	outline: none;
	color: #464646;
	font-size: 0.85em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	border:1px solid #EEE;
	-webkit-appearance: none;
}
.input-box input[type="text"]:focus {
	border-color:#DDD;
}
.product_desc{
	clear:both;
	margin-top:20px;
}
.resp-tabs-container {
	padding:10px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
}
h2.resp-accordion {
	font-size:18px;
	border: 1px solid #ccc;
	margin: 0px;
	padding: 5px 10px;
	background:#E0E0E0;
	margin:10px 0;
}
h2.resp-accordion:hover{
	color: #E4292F;
}
.product-tags .button {
	margin-top: 15px;
	line-height: 3em;
}
.span_3_of_2 .button {
	float: right;
	margin-top: 1%;
}
.product-tags .button a {
	font-size:1em;
	padding:10px 15px;
	background:#E4292F;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.span_3_of_2 .button a:hover, .product-tags .button a:hover {
	text-shadow: 0px 0px 1px #000;
    background: #292929;
}
.product-tags p{
	font-size:13px;
	padding:5px  0;
	color: #969696;
	line-height: 1.8em;
}
/**** Review *****/
.review h4,.review h4 a{
 font-size:13px;
 color: #333;
 margin:5px 0;
 font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.review h4 a{
	text-decoration:underline;
}
.review h4 a:hover{
	text-decoration:none;
	color:#E4292F;
}
.review ul{
	margin-top:10px;
}
.review li{
	display:block;
	padding:8px 0;
	color: #666;
	font-size:1em;
}
.review li img{
	vertical-align:middle;
}
.review p{
	font-size:0.8em;
	padding:5px 0;
	color: #969696;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.your-review h4{
	font-size:18px;
    color: #333;
}
.your-review div{
	padding:5px 0;
}
.your-review span{
	display:block;
	font-size:0.8125em;
	color:#757575;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.your-review label span.red{
	color:#CD1F25;
	display:inline;
}
.your-review input[type="text"],.your-review textarea{
		    padding:8px;
			display:block;
			width:90%;
			border:1px solid #E0E0E0;
			background:none;
			outline:none;
			color:#222;
			font-size:1em;
			font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
			-webkit-appearance:none;
}
.your-review textarea{
		resize:none;
		height:120px;		
}
.your-review input[type="submit"]{
    font-size:1em;
	padding:10px 15px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:#E4292F;
	color: #FFF;
	text-decoration: none;
	border:none;
	cursor:pointer;
	outline: 0;
}
.your-review input[type="submit"]:hover{
    background: #292929;
}
/*** ratings ***/
.community-poll{
	margin-top:20px;
}
.community-poll p {
	color: #CD1F25;
	font-size: 0.95em;
	padding:5px  0;
}
.poll li {
	padding:3px 0px 9px 0;
}
.poll input.radio {
	float: left;
	margin:4px 0 0 0;
}
.poll .label {
	display: block;
	margin-left: 20px;
}
.poll label {
	font-size:13px;
	padding:10px 0;
	color: #666;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/** End Preview Page **/
/*  Contact Form  ============================================================================= */
.contact-form {
	position: relative;
	padding:1em 0;
}
.contact-form span {
	display: block;
	font-size: 0.8125em;
	color: #757575;
	padding-bottom: 5px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.contact-form input[type="text"], .contact-form textarea {
	padding:10px;
	display: block;
	width:100%;
	background:#FFF;
	border:1px solid #DEDEDE;
	outline: none;
	color:#BABABA;
	font-size:13px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
	margin:5px 0;
}
.contact-form input[type="text"]:focus, .contact-form textarea:focus {
	color:#555;
	border-color:#C1C1C1;
}
.contact-form textarea {
	resize: none;
	height:150px;
}
.mybutton {
	font-size:13px;
	padding:10px 20px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:#e44f2b;
	color: #FFF;
	border:none;
	text-decoration: none;
	outline: 0;
	cursor:pointer;
	float:right;
	-webkit-apperance:none;
}
.mybutton:hover {
	background: #292929;
}
.map {
	margin-top:1em;
}
.map iframe{
	height:100px;
}