/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family:'Open Sans', sans-serif;
}
@font-face {
   font-family: 'Exo2-Regular';
   src: url(../fonts/Exo2-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Exo2-Medium';
   src: url(../fonts/Exo2-Medium.ttf) format('truetype');
}
@font-face {
   font-family: 'Exo2-Bold';
   src: url(../fonts/Exo2-Bold.ttf) format('truetype');
}
/*--menu--*/
.banner{
	background: #f2f6f7;
	min-height:850px;
}
.banner-info{
	text-align:center;
	margin-top:3em;
}
.banner-info h2{
	color:#333;
	font-size:1.8em;
}
.banner-info h2 span{
	font-family: 'Exo2-Medium';
	font-size:2em;
	color:#4FC242;
}
.banner-info p{
	font-size:1.1em;
	margin:1em 0 2em 0;
	color:#999;
	letter-spacing:1px;
	text-transform:uppercase;
}
.banner-info label{
	background:#DBD9D9;
	display:block;
	height:1.5px;
	width:15%;
	margin:0 auto;
}
.header {
  padding:0.5em 0;
  background:#4FC242;
}
.logo {
  float: left;
}
.logo a {
  display: block;
}
.top-nav {
  float: right;
  width: 4%;
  margin-top: .3em;
}
.logo h1 a{
	text-decoration:none;
	color:#C76994;
	font-size:1.2em;
	font-family: 'Exo2-Bold';
}
.logo h1 a span{
	font-family: 'Exo2-Medium';
	font-size:1.2em;
	color:#4FC242;
}
.social {
  margin:0em 0;
  float:left;
}
.social i {
width: 27px;
height: 27px;
background: url('../images/social-icons.png') no-repeat 0px 0px;
display: inline-block;
margin:0 5px;
}
a i.facebook{
background-position:-3px -2px;
}
a i.twitter{
background-position: -43px -3px;
}
a i.dribble{
background-position: -83px -3px;
}
a i.google{
background-position:-126px -2px
}
a i.youtube{
background-position:-167px -3px;
}
a i.facebook:hover{
background-position:-3px -36px;
}
a i.twitter:hover{
background-position: -43px -36px;
}
a i.dribble:hover{
background-position: -83px -36px;
}
a i.google:hover{
background-position:-126px -36px
}
a i.youtube:hover{
background-position:-167px -36px;
}
.details{
	float:right;
}
.details ul li{
	display:inline-block;
	color:#fff;
	padding:5px 0;
	margin-right:8px;
}
.details ul li a{
	color:#fff;
}
.details ul li a:hover{
	text-decoration:none;
	color:#C76994;
}
.glyphicon-earphone:before, .glyphicon-envelope:before {
  font-size: 13px;
  margin-right: 5px;
}
.glyphicon{
  position:relative;
  top:2px;
}
button#showRightPush {
  border: none;
  background: rgba(255, 255, 255, 0.21);
  padding: 8px;
  outline: none;
  position: fixed;
  z-index: 1;
}
nav#cbp-spmenu-s2 {
  background:#fff;
  text-align: center;
}
nav#cbp-spmenu-s2 a {
	color: #333;
	display: block;
	padding: 20px 25px;
	font-size: 15px;
	font-family: 'Exo2-Medium';
	font-weight: 400;
	border: none;
	margin: 0;
	transition: .5s all;
	border-bottom: 1px dotted #333;
	text-decoration: none;
}
nav#cbp-spmenu-s2 a:hover {
	text-decoration: none;
	color:#4FC242;
	background: none;
}
nav#cbp-spmenu-s2 a.active {
	color: #D3564A;
}
nav#cbp-spmenu-s2 h3 {
  background:#4FC242;
  color: #fff;
  font-size: 3em;
}
/*-- //menu --*/
.top-header{
	padding:2em 0;
}
/*--about --*/
.about{
	padding:4em 0;
}
.about h3,.gallery h3,.blog h3,.contact h3{
  font-size: 2.8em;
  color:#C76994;
  font-family: 'Exo2-Bold';
  text-align:center;
}
.about-info{
	margin-top:3em;
}
.about-left h4{
	color:#4FC242;
	font-size:1.6em;
	margin-top:1em;
	font-family: 'Exo2-Medium';
}
.about-left p{
	color:#999;
	font-size:1em;
	line-height:1.8em;
	margin-top:0.7em;
}
.top-grids span {
width: 54px;
height: 52px;
display: inline-block;
background: url(../images/icons.png) no-repeat 0px 0px;
}
.top-grids span.icon1 {
background-position: -11px -13px;
}
.top-grids span.icon2 {
background-position: -89px -15px;
}
.top-grids span.icon3 {
background-position: -166px -13px;
}
.top-grids span.icon4 {
background-position: -228px -11px;
}
.top-grids:hover span.icon1{
background-position: -12px -87px;
}
.top-grids:hover span.icon2{
background-position: -95px -86px;
}
.top-grids:hover span.icon3{
background-position: -169px -86px;
}
.top-grids:hover span.icon4{
background-position: -235px -84px;
}
.top-grids {
	margin-top:3em;
  text-align: center;
}
.top-grids h4 {
  color:#6A6A6A;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.45em 0 0.5em 0;
  font-family: 'Exo2-Medium';
}
.top-grids p {
  color: #999;
  font-size: 1em;
  line-height: 1.8em;
}
/*--gallery--*/
.gallery{
	padding:3em 0;
}
.gallery-bottom{
	margin-top:2em;
}
.gallery-left img{
	width:100%;
}
.gallery-left:hover img {
  -webkit-filter: grayscale(100%);
  opacity:8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-left{
	position: relative;
}
.gallery-grid img{
	width:100%;
}
.gallery-grid:hover img {
  -webkit-filter: grayscale(100%);
  opacity:8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-grid{
	position: relative;
}
.gallery-1{
	margin-top:25px;
}
.gallery-1:nth-child(1){
	margin-top:0;
}
/*--testi--*/
.testi {
  background: url(../images/slid1.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 4em 0;
  text-align: center;
}
/*--//testi--*/
/*------------------ Slider Part starts Here----------*/

#slider3,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.banner-title .callbacks_container {
  background-color: rgba(84, 179, 174, 0.99);
  padding: 10em 2em 0;
  display: inline-block;
  min-height:598px;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks_nav {
  	position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 41%;
  left: 10%;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 51px;
  width: 22px;
  background: transparent url("../images/icons.png") no-repeat 0px -4px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  right: 10%;
  background: url(../images/icons.png)no-repeat -41px -4px;
}
#slider3-pager a ,#slider4-pager a {
  display: inline-block;
}
#slider3-pager span, #slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a{
  padding: 0;
}
#slider3-pager li ,#slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  z-index:0 !important;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs {
  list-style: none;
  position: absolute;
  bottom: 71px;
  z-index: 0;
  left: 46%;
  padding: 0;
  margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
} 
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .5em;
}
@media screen and (max-width: 600px){
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 13px;
  width: 13px;
  display: inline-block;
  background: #FCFAFA;
  border-radius: 50%;
}
.callbacks_here a:after {
  background:#C76994; 
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
}
/*--//slider end here--*/
/*--testmonial--*/
div#top {
  margin: 3em;
}
.testi{
	position:relative;
}
.testi p.title {
  color: #FFF;
}
.testi h3{
  font-size: 2.5em;
  color: #fff;
  font-family: 'Exo2-Bold';
  text-align:center;
}
.testi p {
  color: #fff;
  font-size: 1em;
  width: 70%;
  margin: 0 auto;
  line-height: 1.8em;
}
.testi h4 {
  color:#4FC242;
  font-size: 2.5em;
  margin: 1em 5em 0 0;
  text-align: right;
  font-family: 'Exo2-Medium';
}
/*--//testmonial--*/
.blog{
	padding:4em 0;
}
.blog-grids{
	margin-top:2em;
}
.blog1{
	text-align:right;
}
.blog1 h4 a{
	color:#333;
	font-size:1.25em;
	font-family: 'Exo2-Medium';
	margin:1.5em 0 0.5em 0;
	display:inline-block;
	text-decoration:none;
}
.blog1 h4 a:hover{
	color:#C76994;
}
.blog1 p{
	color:#999;
	font-size:1em;
	line-height:1.8em;
}
.blog1 span a{
	display:inline-block;
	color:#4FC242;
	font-size:0.95em;
	margin-top:0.7em;
	text-decoration:none;
}
.blog1 span a:hover{
	color:#C76994;
}
.grid2{
	text-align:left;
}
.map iframe{
	width:100%;
	min-height:250px;
}
/*--contact--*/
.contact{
	padding:2em 0 3em;
}
.contact-top-right form input[type="text"] {
  width: 32.95%;
  color: #898888;
  outline: none;
  font-size:0.9em;
  padding: 13px 13px;
  margin-bottom: 1em;
  border: solid 1px #B6B7BA;
  -webkit-appearance: none
}
.contact-top-right form textarea {
	resize: none;
	width: 100%;
	color: #898888;
	font-size:0.9em;
	outline: none;
	padding: 10px 10px;
	border: solid 1px #B6B7BA;
	min-height: 12em;
	-webkit-appearance: none;
}
.sub-button input[type="submit"] {
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size:1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.7em 2em;
  display: inline-block;
  background:#4FC242;
  margin-top: 1em;
  -webkit-appearance: none;
  float: left;
}
.sub-button input[type="submit"]:hover {
	background:#C76994;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.contact-top {
	margin-top: 3em;
}
.contact-bottom {
     padding: 4em 0;
}
.contact-top-left {
	  float: left;
	    width: 30%;
}
.contact-top-right {
	  float: right;
	  width: 69%;
}
.contact-top-one h4 {
  font-size: 1.4em;
  color: #1f1e23;
font-family: 'Exo2-Medium';
  font-weight:400;
  margin: 0;
  text-align: left;
}
.contact-top-one h6 {
  color: #999;
  font-size:1em;
  line-height: 1.8em;
  margin: 1em 0;
  text-align: left;
}
.contact-top-one span {
	display: block;
}
.contact-top-one p,.contact-top-one p a {
  color: #999;
  font-size: 1em;
  margin: 1em 0px;
  line-height: 1.8em;
  text-align:left;
}
.contact-top-one p a {
 font-size:1.1em;
}
.contact-top-one p a:hover {
	color: #1f1e23;
	text-decoration: none;
}
/*--footer--*/
.footer{
	padding:2em;
	background:#eee;
	text-align:center;
}
.footer h3 a{
	text-decoration:none;
	color:#C76994;
	font-size:1.2em;
	font-family: 'Exo2-Bold';
	margin-bottom:0.5em;
	display:inline-block;
}
.footer h3 a span{
	font-family: 'Exo2-Medium';
	font-size:1.2em;
	color:#4FC242;
}
.footer p,.footer p a{
	color:#999;
	font-size:1em;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*--responsive--*/
@media (max-width: 1024px){
.banner-info h2 {
  font-size: 1.6em;
}
.banner-info h2 span {
  font-size: 1.6em;
}
.banner-info {
  margin-top: 4em;
}
.banner-info img {
  background-size: 100%;
  width: 50%;
}
.banner {
  min-height: 640px;
}
.about h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 2.5em;
}
.about-left h4 {
  font-size: 1.35em;
}
.about-left p {
  font-size: 0.9em;
}
.top-grids h4 {
  font-size: 1.3em;
}
.top-grids p {
  font-size: 0.9em;
}
.about {
  padding: 3em 0 2em;
}
.gallery {
  padding: 2em 0 3em;
}
div#top {
  margin: 0 3em;
}
.testi p {
  font-size: 0.9em;
  width: 77%;
  margin:3em auto 1em auto;
}
.testi h4 {
  font-size: 2em;
}
.callbacks_tabs a:after {
  height: 10px;
  width: 10px;
}
.blog1 h4 a {
  font-size: 1.1em;
}
.blog1 p {
  font-size: 0.9em;
}
.blog1 span{
	font-size: 0.9em;
}
.blog1 span a {
  font-size: 0.9em;
}
.contact-top-right form input[type="text"] {
  width: 32.9%;
}
.contact-top-one h6 {
  font-size: 0.9em;
}
.contact-top-one h4 {
  font-size: 1.2em;
}
}
@media (max-width: 991px){
nav#cbp-spmenu-s2 h3 {
  font-size: 2em;
  padding: 13px;
}
nav#cbp-spmenu-s2 a {
  padding: 15px 0px;
  font-size: 18px;
}
.banner {
  min-height: 500px;
}
.banner-info h2 {
  font-size: 1.4em;
}
.banner-info {
  margin-top: 3em;
}
.banner-info p {
  font-size: 0.85em;
}
.logo h1 a {
  font-size: 1.1em;
}
.about h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 2.2em;
}
.about-left {
  width: 50%;
  float: left;
}
.about-right {
width: 50%;
  float: left;
}
.top-grids {
  float: left;
  width:50%;
}
.about-left h4 {
  margin-top: 0em;
}
.gallery-grid {
  width: 33.3%;
  float: left;
  padding:0 9px;
}
.gallery-1 {
  margin-top: 12px;  
}
.blog1 {
  width: 50%;
  float: left;
}
.blog-pic {
  width: 50%;
  float: left;
}
.blog1 h4 a {
  font-size: 0.96em;
}
.contact-top-right {
  padding: 0;
}
.contact-top-right form input[type="text"] {
  width: 100%;
}
}
@media (max-width: 768px){
button#showRightPush {
  padding: 8px 0;
}
}
@media (max-width: 640px){
.logo h1 a {
  font-size: 1em;
}
button#showRightPush {
  padding: 4px 0;
}
.banner-info h2 {
  font-size: 1.3em;
}
.banner {
  min-height: 460px;
}
.testi h4 {
  font-size: 1.8em;
  margin: 0em 1em 0 0;
}
.testi h3 {
  font-size: 1.8em;
}
.testi p {
  width: 93%;
  margin: 2em auto 1em auto;
}
.callbacks_tabs {
  bottom: 56px;
  left: 42%;
}
.about-left p {
  font-size: 0.85em;
}
.about-left h4 {
  font-size: 1.2em;
}
.top-grids {
  margin-top: 2em;
}
.blog1 h4 a {
  margin: 0em 0 0.5em 0;
  font-size: 0.9em;
}
.blog1 p {
  font-size: 0.85em;  
}
.social i {
  margin: 0 2px;
}
.details ul li {
  font-size: 0.85em;
  padding:6px 0;
}
}
@media(max-width:480px){
.social {
  float: none;
  text-align: center;
}
.details {
  float: none;
  text-align: center;
}
.header {
  padding: 0.2em 0;
}
button#showRightPush {
  padding:0 5px;
  width: 7.85%;
}
button#showRightPush img{
	width:100%;
}
.top-nav {
  width: 7%;
    margin-top: .5em;
}
.banner-info {
  margin-top: 1em;
}
.banner {
  min-height: 501px;
}
.logo h1 a {
  font-size: 0.9em;
}
.banner-info h2 {
  font-size: 1.2em;
  line-height: 1.6em;
}
.banner-info p {
  font-size: 0.7em;
  letter-spacing: 0px;
}
.banner-info img {
  width: 60%;
  margin-top: 1em;
}
.about h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 1.8em;
}
.about {
  padding: 2em 0 1em;
}
.about-info {
  margin-top: 2em;
}
.about-left {
  width: 100%;
  margin-bottom:1.5em;
}
.about-right{
	width:100%;
}
.top-grids h4 {
  font-size: 1.1em;
}
.top-grids p {
  font-size: 0.85em;
}
.testi p {
  width: 100%;
  margin: 2em auto 1em auto;
  font-size: 0.85em;
}
.testi h4 {
  font-size: 1.5em;
  margin: 1em 1em 0 0;
}
.callbacks_tabs {
  bottom: 47px;
  left: 39%;
}
.callbacks_tabs a:after {
  height: 8px;
  width: 8px;
}
.testi {
  padding: 2em 0;
}
.blog {
  padding: 2em 0;
}
.blog1 {
  width: 100%;
    margin-top: 1em;
}
.blog-pic {
  width: 100%;
  margin-top:1.5em;
}
.blog-grids {
  margin-top:0em;
}
.contact-top-left {
  width: 100%;
  padding:0;
}
.contact-top-right {
  width: 100%;
  margin-bottom:1.5em;
}
.contact-top-right form input[type="text"] {
  font-size: 0.85em;
  padding: 9px 9px;
}
.sub-button input[type="submit"] {
  font-size: 0.85em;
  padding: 0.7em 1.5em;
}
}
@media(max-width:320px){
.logo h1 a {
  font-size: 0.8em;
}
.details ul li {
  padding: 3px 0;
  margin-right: 5px;
}
button#showRightPush {
  width: 11%;
}
.top-nav {
  width:13%;
  margin-top: 0.4em;
}
.cbp-spmenu-vertical {
  width: 135px !important;
}
.cbp-spmenu-push-toleft {
  left: -123px !important;
}
nav#cbp-spmenu-s2 h3 {
  font-size: 1.8em;
}
nav#cbp-spmenu-s2 a {
  padding: 12px 0px;
  font-size: 14px;
}
.banner-info img {
  width: 70%;
  margin-top: 0em;
}
.banner-info {
  margin-top: 1em;
}
.banner-info h2 {
  font-size: 1em;
}
.banner-info p {
  font-size: 0.6em;
}
.banner {
  min-height: 365px;
}
.about h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 1.5em;
}
.about-left h4 {
  font-size: 1em;
}
.about-left {
  margin-bottom: 1em;
  padding: 0;
}
.top-header {
  padding: 1.5em 0;
}
.top-grids {
  width: 100%;
}
.about-right{
	padding:0;
}
.about {
  padding: 2em 0 0em;
}
.gallery-grid {
  width: 100%;
  padding: 0 0px 8px 0;
}
.testi h3 {
  font-size: 1.4em;
}
div#top {
  margin: 0 0em;
}
.callbacks_tabs {
  bottom: 47px;
  left: 32%;
}
.blog1 {
  padding: 0;
}
.blog1 h4 a {
  font-size: 0.85em;
}
.blog-pic {
  margin-top: 1em;
  padding: 0;
}
.map iframe {
  min-height: 200px;
}
.contact-top {
  margin-top: 2em;
}
.contact-top-one h4 {
  font-size: 1.1em;
}
.contact-top-one h6 {
  font-size: 0.85em;
  margin: 0.5em 0;
}
.contact-top-one p, .contact-top-one p a {
  margin: 0.5em 0px;
  font-size: 0.85em;
}
.contact {
  padding: 2em 0;
}
.contact-top-one p a {
  font-size: 0.9em;
}
.footer p, .footer p a {
  font-size: 0.9em;
}
.social {
  margin: 0.5em 0 0.2em 0;
}
.footer {
  padding: 2em 0;
}
.contact-top-right form textarea {
  min-height: 10em;
}
}