/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
	font-weight:100%;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.wrap-box{
	background: url(../images/strip.png);
	padding:2px;
}
.header-bottom{
	background: #2D2D2D;
}
.header-top {
	padding:10px;
	background: #ffd133;
	background: -moz-linear-gradient(top,  #ffd133 0%, #ffa503 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd133), color-stop(99%,#ffa503));
	background: -webkit-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: -o-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: -ms-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: linear-gradient(to bottom,  #ffd133 0%,#ffa503 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd133', endColorstr='#ffa503',GradientType=0 );
}
.top-header-left {
	float: left;
}
.top-header-left p {
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size: 0.875em;
	background: url(../images/phone.png) no-repeat;
	padding-left: 18px;
}
.right-left {
	float: right;
}
.right-left ul li {
	display: inline-block;
	margin-right:5px;
}
.login {
	background: url(../images/lock.png) no-repeat 0;
	padding-left: 18px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.sign {
	background: url(../images/login.png) no-repeat 0;
	padding-left: 18px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.login:hover {
	background: url(../images/lock1.png) no-repeat 0;
}
.sign:hover {
	background: url(../images/login1.png) no-repeat 0;
}
.right-left ul li a {
	color:#fff;
	font-size: 0.875em;
}
.right-left ul li a:hover {
	color:#333;
}
.follow_icon {
	list-style: none;
	padding-top: 10px;
}
ul.follow_icon  li {
	display:inline-block;
	margin-left: 1px;
}
.follow_icon li :hover{
	opacity:0.7;
}
.follow_icon li a img {
	vertical-align: middle;
}
.logo {
	float: left;
	margin-top:1.1%;
}
/*--menu--*/
.header-bottom {
	padding:10px;
}
ul#w3-unav-links li {
	background: none;
	padding: 0px;
}
#w3-mobile-options {
	position: absolute;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	top:65px;
}
#w3-mobile-options li {
	list-style-type: none;
}
#w3-mobile-options #w3-menu-trigger a {
	background: url(../images/nav_icon.png);
}
#w3-mobile-options li a {
	display: block;
	color: transparent;
	width: 34px;
	height: 34px;
	cursor: pointer;
	-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
#w3-menu-links li a {
	color:#fff;
	font-size: 13px;
	text-transform: uppercase;
}
#w3-menu-links li a:hover {
	color:#DDDCD5;
}
#w3-menu-links {
	background:#222;
	padding: 0px 15px;
	display: none;
}
#w3-menu-links li {
	padding: 10px 0;
	background: none;
	border-bottom:1px solid #313131;
}
.main {
	background: #FFF;
	padding:10px;
}
/*--content--*/
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3{
	display: block;
}
.span_1_of_3 {
	margin-bottom: 20px;
}
.span_1_of_3  h3{
	color:#FFA503;
	font-size:1.1em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform:uppercase;
}
.span_1_of_3  p  {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #888;
	line-height: 1.5em;
}
.module-title h2 {
	font-size: 20px;
	text-transform: uppercase;
	padding: 30px 0 10px 0;
	line-height: 27px;
	text-align: center;
	color: #FFA503;
}
p.modulePretext{
	font-size: 0.8125em;
	line-height: 1.5em;
	color: #888;
	text-align: center;
	margin-bottom: 15px;
}
.grid_img{
	border:1px solid #E9E7E7;
}
.hover_img{
	text-align:center;
}
.hover_img img {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.hover_img img:hover {
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	opacity: 1;
}
p.desc{
	padding:10px;
}
p.desc a{
	text-transform:uppercase;
	color:#FFA503;
	font-size:1em;
}
p.desc a:hover{
	color:#333;
}
.more {
	text-align: center;
	padding:0px 0px 30px;
}
.button {
	background: #FFD133;
	background: -moz-linear-gradient(top, #ffd133 0%, #ffa503 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD133), color-stop(99%,#FFA503));
	background: -webkit-linear-gradient(top, #FFD133 0%,#FFA503 99%);
	background: -o-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: -ms-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: linear-gradient(to bottom, #FFD133 0%,#FFA503 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd133', endColorstr='#ffa503',GradientType=0 );
	padding: 8.5px 15px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	vertical-align: middle;
	text-transform:uppercase;
	-webkit-appearance: none;
}
.button:hover {
	background:#333;
}
ul.dishes_list li {
	border-bottom: 1px solid #E0E8ED;
	padding: 6px 0;
}
ul.dishes_list li a {
	color: #555;
	font-size: 13px;
	display: block;
	padding: 5px 0 5px 20px;
	background: url(../images/marker.png) no-repeat 0;
}
.latest-news-pic {
	float: left;
	width: 20%;
}
.latest-news-info {
	float: right;
	width: 76%;
}
.latest-news-info a {
	color:#FFA503;
	font-size: 13px;
	line-height: 1.5em;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.latest-news-info a:hover {
	color:#333;
}
.module-item{
	display: block;
	padding: 5px 0 8px;
	color: #000;
}
.module-text h4 a {
	text-decoration: none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
	line-height: 18px;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	color: #000;
	font-size:13px;
}
.module-text h4 a:hover {
	color:#FFA503;
}
.button1 {
	background: #FFD133;
	background: -moz-linear-gradient(top, #ffd133 0%, #ffa503 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD133), color-stop(99%,#FFA503));
	background: -webkit-linear-gradient(top, #FFD133 0%,#FFA503 99%);
	background: -o-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: -ms-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: linear-gradient(to bottom, #FFD133 0%,#FFA503 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd133', endColorstr='#ffa503',GradientType=0 );
	padding:5.5px 15px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	-webkit-appearance: none;
}
.button1:hover {
	background: #333;
}
.module-text{
	padding-bottom:10px;
}
.latest-news-grid{
	padding-top:15px;
}
.more1{
	padding:10px 0;
}
.content-bottom {
	padding-bottom:10px;
	border-bottom: 1px solid #DADADA;
}
/*--footer--*/
.col_1_of_4{
	display: block;
}
.span_1_of_4 {
	margin-bottom: 20px;
}
.span_1_of_footer-lastgrid{
	margin-bottom: 20px;
}
.span_1_of_4 h3, .span_1_of_footer-lastgrid h3{
	margin-bottom:15px;
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	line-height: 1.2;
	margin-top: 0px;
	letter-spacing: -1px;
	color:#373737;
}
.span_1_of_4  p {
	font-size:0.8125em;
	color:#A0A0A0;
	line-height: 1.5em;
}
.span_1_of_4 ul li {
	background: url(../images/marker1.gif)no-repeat;
	line-height: 0.4em;
	padding: 0 0 19px 13px;
}
.span_1_of_4 ul li a {
	color: #A0A0A0;
	font-size: 13px;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.span_1_of_4 ul li a:hover {
	color:#333;
}
.footer-top {
	padding-top:20px;
}
.footer-grid-address p {
	font-size: 0.875em;
	color: #888;
	line-height: 1.8em;
}
.email-link {
	color: #333;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform: lowercase;
}
.email-link:hover {
	color:#FFA503;
}
.copy{
	text-align: center;
	padding:20px 0;
	border-top: 1px solid #DADADA;
}
.copy p {
	color:#888;
	font-size: 0.85em;
}
.copy p a {
	color:#FFA503;
}
.copy p a:hover {
	color:#333;
}
/*--about--*/
.col {
	display: block;
}
.span_1_of_about {
	margin-bottom: 20px;
}
.span_1_of_about h3 {
	color:#FFA503;
	margin-bottom:15px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.about-img {
	width: 29%;
	float: left;
	margin-right:10px;
}
.about-desc {
	width: 100%;
	float: none;
	margin-right: 0;
}
.about-desc p {
	color:#888;
	font-size: 13px;
	line-height: 1.8em;
}
.col {
	display: block;
}
.span_1_of_about1 h3 {
	color:#FFA503;
	margin-bottom:15px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.comments-custom li {
	overflow: hidden;
	margin: 0;
	padding: 0px 0 25px 0;
	border-bottom: none;
	background: none;
}
.comments-custom.unstyled .icon {
	background: url(../images/comment.png) no-repeat 0 50%;
	width: 37px;
	height: 70px;
	float: left;
	border-right: 1px solid #DADADA;
	padding: 0 8px 0 0;
	margin: 0 10px 0 0;
}
.right-text {
	width:79%;
	float: left;
}
.comments-custom.unstyled .comments-custom_h {
	color:#888;
	font-size: 1em;
	margin: -2px 0 0 0;
}
.comments-custom.unstyled .comments-custom_txt {
	padding: 2px 0 0 0;
	font-size: 13px;
	line-height: 1.5em;
}
.comments-custom.unstyled .comments-custom_txt a {
	color: #333;
}
.comments-custom.unstyled .comments-custom_txt a:hover{
	color:#8A4A2E;
}
.comments-custom time {
	font-size: 11px;
	color:#FFA503;
}
.about-topgrid1 {
	margin-bottom: 20px;
}
.about-topgrid1 h3 {
	color:#FFA503;
	margin-bottom:15px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.about-topgrid1 img {
	margin-bottom: 20px;
}
.about-topgrid1 h5 {
	color:#FFA503;
	font-size: 13px;
	line-height: 1.5em;
	padding-bottom:10px;
}
.about-topgrid1 p {
	font-size: 0.8125em;
	color:#888;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
}
.about-histore {
	margin-bottom: 20px;
}
.about-histore h3 {
	color:#FFA503;
	margin-bottom:15px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.about-histore ul li span {
	color: #333;
	font-size: 14px;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	float: left;
	width: 17%;
}
.about-histore ul li p {
	font-size: 0.8125em;
	color:#888;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
	float: right;
	width: 81%;
}
.about-services h3 {
	color:#FFA503;
	margin-bottom:15px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;	
}
.questions {
	margin: 10px 0 3px 0;
}
.questions h4 {
	color: #333;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: normal;
}
.questions p {
	font-size: 0.8125em;
	color: #888;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
}
.about-bottom {
	padding-bottom: 2%;
	border-bottom: 1px solid #DADADA;
}
/*--single--*/
#login-form label {
	color: #333;
	line-height: 2.8em;
	font-size: 13px;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	border: 1px solid #BDBCBC;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	height: 27px;
	padding: 0 7px;
	width: 100%;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 13px;
	color:#888;
}
.about{
	padding:20px 0 0px;
}
fieldset.input input[type="submit"] {
	background: #FFD133;
	background: -moz-linear-gradient(top, #ffd133 0%, #ffa503 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD133), color-stop(99%,#FFA503));
	background: -webkit-linear-gradient(top, #FFD133 0%,#FFA503 99%);
	background: -o-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: -ms-linear-gradient(top, #ffd133 0%,#ffa503 99%);
	background: linear-gradient(to bottom, #FFD133 0%,#FFA503 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd133', endColorstr='#ffa503',GradientType=0 );
	border: none;
	color: #FFF;
	padding: 7px 20px;
	cursor: pointer;
	outline:none;
}
fieldset.input input[type="submit"]:hover {
	background: #333;
}
.single-box{
	margin-bottom:20px;
}
.more2{
	margin-top:20px;
}
.single-right{
	padding-top:20px;
}
.single-top{
	padding-bottom:30px;
	border-bottom: 1px solid #DADADA;
}
/*--services--*/
/*  GRID OF Four   ============================================================================= */
.grid_1_of_4{
	display: block;
	margin-bottom: 20px;
}
.grid-img{
	text-align:center;
}
.images_1_of_4 {
	position:relative;
}
.grid_1_of_4 h4 {
	text-transform: uppercase;
	font-size: 1em;
	line-height: 22px;
	color: #FFA503;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}
.grid_1_of_4 h4:hover {
	color:#333;
}
.grid_1_of_4 p {
	font-size:13px;
	padding: 0.2em 0em 1em 0em;
	color: #6A6A6A;
	line-height: 1.6em;
}
.link {
	background: url(../images/arrow.gif) no-repeat 100% 8px;
	display: inline-block;
	padding: 0 13px 0 0;
	line-height: 19px;
	font-size: 14px;
	font-style: normal;
	text-decoration: underline;
	color: #FFA503;	
}
.link:hover {
	color:#333;
	text-decoration:none;
}
.services{
	padding-bottom: 2%;
	border-bottom: 1px solid #DADADA;
}
/*--contact--*/
/*  Contact Form  ============================================================================= */
.span_2_of_contact  h3,
.span_1_of_contact  h3 {
	color:#FFA503;
	margin-bottom: 10px;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #888;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:94%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#FFA503 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
    outline:none;
    -webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{
	background-color:#333;
}
.contact-form input[type="submit"]:active{
	background-color:#333;  
}
.company_address{
	padding-top:20px;
}
.company_address p{
	color: #888;
	font-size: 13px;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}
/*--404--*/
.page-not-found h1 {
	font-size:7em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #AAA;
	-moz-text-shadow: 1px 1px 6px #aaa;
	-webkit-text-shadow: 1px 1px 6px #aaa;
	-o-text-shadow: 1px 1px 6px #aaa;
}
