/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family:"arial", Helvetica, sans-serif;
}
.wrap{
	margin:0 auto;
	width:1000px;
}
.header-bg{
	background:#482b22;
}
.body-bg{
	background:#FAE6D7;
}
.b-main{
	background: #fff;
	padding:0 30px;
	box-shadow: 0px 0px 10px rgb(202, 168, 141);
}
.logo{
	text-align:center;
	padding:20px;
}
/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	margin-right:-4px;
}
.sf-menu a {
	display:		block;
	color:#fff;
	font-family:"Lucida Sans Unicode", Helvetica ,sans-serif;
	text-transform:uppercase;
	font-size:18px;
	padding:18px 70px;
	background: url('../images/nav.jpg');
	transition: all 0.4s ease 0s;
	text-decoration: none;
	
}
.sf-menu a:hover,
.sf-menu li.current> a,
.sf-menu li.sfHover > a {
	background: rgb(207, 146, 127);
	text-decoration:none;
}
/*slider*/
.slider-bg{
	background:#6D2522;
}
.slider{
	height:400px;
}
/*slider*/
.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span { background: #404040; }
/*cont-btm*/
.content-grids{
	padding-top: 20px;
}
.content-grid{
	width: 251px;
	float: left;
	padding: 30px;
}
.content-grid img{
	cursor: pointer;
}
.content-grid img:hover{
	opacity:0.7; 
}
.content-grid ul li h4{
	color: rgb(167, 86, 60);
	font-size: 14px;
	margin: 10px 0px 5px;
	font-weight: bold;
}
.content-grid ul li p{
	font-size:12px;
	color:#666;
	line-height:1.8em;
	cursor:pointer;
	margin-bottom:11px;
}
.content-grid ul li p:hover{
	color: #444;
}
.content-grid ul li a,.button a,.rdmore-btn a,.rd-more a{
	font-size:13px;
	padding:8px 28px;
	border: 1px solid rgb(177, 77, 76);
	background: #f45442;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f45442 0%, #a33331 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f45442), color-stop(100%,#a33331));
	background: -webkit-linear-gradient(top, #f45442 0%,#a33331 100%);
	background: -o-linear-gradient(top, #f45442 0%,#a33331 100%);
	background: -ms-linear-gradient(top, #f45442 0%,#a33331 100%);
	background: linear-gradient(top, #f45442 0%,#a33331 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45442', endColorstr='#a33331',GradientType=0 );
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-o-border-radius:6px;
}
.content-grid ul li a:hover,.button a:hover,.rdmore-btn a:hover{
	border: 1px solid #b93a38;
	background: #f55e4e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f55e4e 0%, #e14645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f55e4e), color-stop(100%,#e14645));
	background: -webkit-linear-gradient(top, #f55e4e 0%,#e14645 100%);
	background: -o-linear-gradient(top, #f55e4e 0%,#e14645 100%);
	background: -ms-linear-gradient(top, #f55e4e 0%,#e14645 100%);
	background: linear-gradient(top, #f55e4e 0%,#e14645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55e4e', endColorstr='#e14645',GradientType=0 );
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
/*cnt-btm*/
.cnt-btm{
	background: #ffffff;
	padding: 30px;
	border-top: 1px dotted rgb(168, 85, 73);
}
/*grid-list*/
.grid-list-main{
	float:left;
	width:70%;
}
.grid-list-main h4,.sidebar h4{
	color: rgb(167, 86, 60);
	text-transform: capitalize;
	font-size: 24px;
	margin-bottom: 20px;
}
.grid-list{
	float:left;
	width:50%;
	margin-bottom: 30px;
}
.grid-list1{
	float:left;
	width:50%;
}
.grid-list-pic1{
	margin-top:4px;
	float:left;
	margin-right:20px;
	cursor: pointer;
}
.grid-list-pic1 img{
	border: 4px solid #ffffff;
	box-shadow: 0px 0px 5px #999;
}
.grid-list-pic1 img:hover{
	border: 4px solid rgb(104, 57, 42);
}
.grid-list-para{
	width:54%;	
	float:left;
}
.grid-list-para p{
	font-size:13px;
	color: #666;
	line-height: 1.8em;
}
.about-pic img{
	border: 4px solid #ffffff;
	box-shadow: 0px 0px 5px #999;
}
/*cont-right*/
.sidebar{
	float:right;
	width:30%;
}
.grid-nav ul li {
	margin:15px 0px;
}
.grid-nav ul li a{
	font-size:12px;
color: #666;
	margin-left:10px;
	vertical-align:top;
	line-height:2.8em;
}
.grid-nav ul li a:hover,.f-grid nav ul li a:hover{
	color: rgb(167, 86, 60);
}
.grid-nav ul li:before{
	content:url('../images/icon.png');
}
/*footer*/
.footer{
	padding: 30px;
}	
.footer-top{
	background:#6D2522;
}
.footer-nav h5 , .footer-nav1 h5{
	font-size:24px;
	color:#fff;
	font-family:"Lucida Sans Unicode", Helvetica ,sans-serif;
}
.footer-nav h5, .footer-nav1 h5 {
	margin-bottom: 10px;
}
.footer-nav{
	width:188px;
	float:left;
}
.footer-nav1{
	width:188px;
	float:left;
}
.footer-nav li{
}
.footer-nav  li a{
	color: rgba(255, 186, 186, 0.84);
	font-size:13px;
	margin:5px 0;
	display:block;
}
.footer-nav  li a:hover{
	text-decoration: underline;
}
.footer-bottom{
	background:#111;
}
.footer-nav1 ul li{
	display:inline-block;
	margin-right:4px;
}
#fb:hover{
	opacity: 0.8;	
}
#twr:hover{
	opacity: 0.8;	
}
#mail:hover{
	opacity: 0.8;	
}
#feed:hover{
	opacity: 0.8;	
}
.footer1-bg{
	background: #482b22;
}
.copy{
	padding:30px;
}
.copy p{
	text-align:center;
	font-size:13px;
	color: #eee;
}
.copy p a{
	color: #fff;
	text-decoration:underline;
}
.copy p a:hover{
	text-decoration:none;
}
/*about*/
.cont-abt-main{
	background:#ffffff;
	padding: 30px;
}
.about{
	margin-top:20px;
}
.cont-left span{
	color:#57692f;
	font-size:12px;
}
.about-pic{
	float:left;
	margin-right:20px;
}
.about-pic img{
	border:5px solid #efefef;
	box-shadow:0px 0px 5px #555;
}
.about-para{
	float:right;
	width:328px;
}
.about-para p{
	padding:0px;
	color:#666;
	font-size:12px;
	line-height:1.8em;
}
.para1{
	margin-top:5px;
	color:#666;
	font-size:13px;
	line-height:1.8em;
}
.rdmore-btn{
	float:right;
	margin-top:15px;
}
/*cont-left*/
.cont-left{
	width:70%;
	float:left;
	margin-right:30px;
}
.cont-left h4,.cont-right h4{
	color: rgb(167, 86, 60);
	font-size:24px;
	margin-bottom:10px;
}
.cont-left span {
	color: rgb(167, 86, 60);
	font-size: 12px;
}
.cont-left p.para{
	line-height: 1.8em;
	color:#555;
	font-size:12px;
	padding:10px;
}
.cont-pic{
	padding-bottom:5px;
}
.cont-pic img{
	-webkit-border-radius:.1em;
}
/*service*/
.ser-main{
	background: #ffffff;
	padding:30px;
}
.sidebar-1{
	float:left;
	width:660px;
}
.sidebar-1 h3,.sidebar-2 h3{
	color: rgb(167, 86, 60);
	font-size: 24px;
}
.ser-grid-list{
	width:204px;
	float: left;
	margin: 20px 16px 15px 0px;
}
.ser-grid-list img{
	border:5px solid #fff;
	box-shadow:0px 0px 5px #999;
}
.ser-grid-list h4{
	margin-top: 20px;
	color: rgb(167, 86, 60);
	font-size: 18px;
}
.ser-grid-list p{
	margin-top: 5px;
	color:#666;
	font-size: 13px;
	line-height: 1.8em;
	margin-bottom: 20px;

}
.sidebar-2{
	width:210px;
	float: left;
	margin-left: 10px;
}
.grids{
	float:left;
	margin-right:18px;
	color:#888;
}
.grids h4,.grid-1 h4{
	margin-top:15px;
	color: rgb(167, 86, 60);
	font-size:18px;
}
.grids p{
	margin-top: 5px;
	color:#666;
	font-size: 12px;
	line-height: 1.8em;
}
/*pizza*/
.content-bottom{
	background:#ffffff;
}
.bottom-left {
	margin-left:30px;
	width: 285px;
	float: left;
	margin-bottom:25px;
}
.bottom-left h1,.bottom-right h1 {
	color: rgb(167, 86, 60);
	font-size: 24px;
	margin-bottom: 20px;
	margin-top:30px;
}
.sidebar-nav li {
	list-style-image: url(../images/icon11.png);
	margin-left: 20px;
	border-bottom: 1px dashed rgba(248, 44, 5, 0.28);
	margin-bottom: 20px;
}
.sidebar-nav li a {
	font-size: 13px;
	color: #666;
	vertical-align: top;
}
.sidebar-nav li a:hover{
	color: rgb(167, 86, 60);
}
.bottom-right {
	width: 573px;
	float: right;
}
.main {
	margin-bottom: 20px;	
}
.image img {
	padding: 5px;
	background: #fdfdfd;
	box-shadow: 0 0 5px #999;
}
.beverage-image {
	float: left;
	border: 1px solid rgb(255, 190, 190);
	padding: 12px;
}
.beverage-image img {
	margin-right: 5px;
	border: 4px solid #f0f0f0;
}
/*contact*/
.contact{
	padding-top:30px;
}
.contact-left{
	float: left;
	width:460px;
	margin-right:40px;
}
.contact-right{
	float:right;
	width:440px;
}
.contact-left h3{
	font-size:20px;
	text-transform:uppercase;
	color: rgb(250, 93, 93);
}
.map{
	margin-top:30px;
	background:#fff;
	border:1px solid #aaa;
	font-size:12px;
}
.contact-right h3{
	font-size:20px;
	text-transform:uppercase;
	color: rgb(250, 93, 93);
}
.table-form{
	margin-top:4px;
}
.table-form input[type="text"]{
	background: #ffffff;
	width:420px;
	border: 1px solid rgb(253, 200, 200);
	outline:none;
	padding: 8px;
	margin-top:25px;
	color:#666;
	overflow:hidden;
	border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
}
textarea{
	font-family: 'Monda', sans-serif;
	width:420px;
	height:100px;
	padding: 8px;
	margin-top: 25px;
	border: 1px solid rgb(253, 200, 200);
	outline:none;
	color:#666;
	resize:none;
	background: #ffffff;
}
.table-form input[type="submit"]{
	margin: 30px 0px 20px 380px;
}
/*contact-form*/
.contact-form{
	margin-top:20px;
	margin-bottom: 30px;
}
.contact-form-r{
	float:left;
}
.contact-form form{
	background:none;
}
.contact-form form input[type="button"]{
	cursor:pointer;
	font-size:13px;
	padding:6px 30px;
	color: #fff;
	border-radius:1.3em;
	border: 1px solid rgb(228, 139, 138);
	background: #f65644;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f65644 0%, #ca3e3e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f65644), color-stop(100%,#ca3e3e));
	background: -webkit-linear-gradient(top, #f65644 0%,#ca3e3e 100%);
	background: -o-linear-gradient(top, #f65644 0%,#ca3e3e 100%);
	background: -ms-linear-gradient(top, #f65644 0%,#ca3e3e 100%);
	background: linear-gradient(top, #f65644 0%,#ca3e3e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65644', endColorstr='#ca3e3e',GradientType=0 );
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-moz-border-radius:1.3em;
	-webkit-border-radius:1.3em;
}
.contact-form form input[type="button"]:hover{
	border: 1px solid rgb(243, 170, 169);
	background: #f65644;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f65644 0%, #df4645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f65644), color-stop(100%,#df4645));
	background: -webkit-linear-gradient(top, #f65644 0%,#df4645 100%);
	background: -o-linear-gradient(top, #f65644 0%,#df4645 100%);
	background: -ms-linear-gradient(top, #f65644 0%,#df4645 100%);
	background: linear-gradient(top, #f65644 0%,#df4645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65644', endColorstr='#df4645',GradientType=0 );
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
